<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{ url_for('static', filename='index/index.js') }}"></script>
    <meta charset="UTF-8">
    <title>Algorithm Alchemists!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/index.css') }}" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="topheader">
    <h1>Welcome to the webapp of the Algorithm Alchemists</h1>
    <form id="login">
        <button id="loginButton" type="button" value="Login" onclick="displayLogin('login')">Login</button>
        <button id="registerButton" type="button" value="Register" onclick="displayLogin('registration')">Register</button>

        <!-- Username -->
        <label style="display: none;" value="username" for="username" id="UsernameLabel"></label>
        <input style="display: none;" type="text" value="" placeholder="Enter Username" id="username" required/>

        <!-- Password -->
        <label style="display: none;" for="password" id="PasswordLabel"></label>
        <input type="password" value="" placeholder="Enter Password" style="display: none" id="password" required/>

        <!-- Confirm Password -->
        <label style="display: none;" for="password2" id="ConfirmPasswordLabel"></label>
        <input type="password" value="" placeholder="Confirm Password" style="display: none" id="password2" />

        <!-- Submit -->
        <button type="button" value="Submit" onclick="getLogin()" style="display: none" id="SubmitButton">Submit</button>
        
    </form>
</div>
<div id="main-content">
    <p id="time"></p>
    <p id="latLong"></p>
    <img id="wizard-img" style="width:30%;height:auto" src="{{ url_for('static', filename='index/4wizardsComputer.png') }}">
</div>
</body>
</html>